body {
    font-family: sans-serif;
    font-size: 10pt;
}
table, table td, table th {
    border: 1px solid silver;
}
table {
    margin-bottom: 1em;
    border-collapse: collapse;
}
div.clear {
    clear: both;
}
.chart {
    float: left;
    margin-right: 1em;
}